body {
	background-color: #e6e6e6;
}
table {
	width: 60%;
	background-color: #ffffff;
	padding: 10px;
}
td,th {
	border-bottom: 1px solid #ddd;
}
}
.header {
	text-align: center;
	font-weight: bold;
}
.header2 {
	font-weight: bold;
	text-align: left;
}
.input1, input[type=text] {
	width: 50%;
	padding: 8px;
	color: #ffffff;
}
.input1:focus, input[type=text]:focus {
	color: #000000;
	border: none;
}
.button {
	background-color: #333;
	color: #ffffff;
	padding: 10px;
	border: none;
	width: 100px;
}
}